.blue-button{
    background-color: white;
    border: 2px solid #0091EA;
    color: #0091EA;
    font-size: 2vh;
    height: 4vh;
    padding: 1vh 1vh 1vh;
    width: 7vw;
}

.button-shadowing:hover {
    box-shadow: 0px 8px 8px 1px rgba(0, 0, 0, 0.2);
}

.white-button{
    background-color: #0091EA;
    border: 2px solid white;
    color: white;
    font-size: 2vh;
    height: 4vh;
    padding: 1vh 1vh 1vh;
    width: 7vw;
}
