/*
Designed and made by Mario Duarte 2018
Source: https://codepen.io/MarioDesigns/pen/woJgeo
*/

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.avatar-safety {
	width: 150px;
	height: 150px;
  margin-left: 5vw;
  margin-right: 5vw;
	margin-top: calc(50% - 75px);
  background-color: #007bff;
	border: 5px white solid;
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.avatar-equipment {
	width: 150px;
	height: 150px;
  background-color: white;
  border: 5px #007bff solid;
	box-sizing: border-box;
	border-radius: 50%;
	margin-left: 5vw;
  margin-right: 5vw;
	margin-top: calc(50% - 75px);
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}
