/*
Designed and made by Mario Duarte 2018
Source: https://codepen.io/MarioDesigns/pen/woJgeo
*/

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.avatar-reserve {
	width: 200px;
	height: 200px;
  background-color: white;
	box-sizing: border-box;
	border-radius: 50%;
	margin-left: calc(100%/2 - 100px);
  margin-right: calc(100%/2 - 100px);
	margin-top: calc(20% - 75px);
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.avatar-safety {
	width: 200px;
	height: 200px;
  background-color: white;
	box-sizing: border-box;
	border-radius: 50%;
	margin-left: calc(100%/2 - 100px);
  margin-right: calc(100%/2 - 100px);
	margin-top: calc(20% - 75px);
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.avatar-equipment {
	width: 200px;
	height: 200px;
  background-color: white;
	box-sizing: border-box;
	border-radius: 50%;
	margin-left: calc(100%/2 - 100px);
  margin-right: calc(100%/2 - 100px);
	margin-top: calc(20% - 75px);
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.avatar-calendar {
	width: 200px;
	height: 200px;
  background-color: white;
	box-sizing: border-box;
	border-radius: 50%;
	margin-left: calc(100%/2 - 100px);
  margin-right: calc(100%/2 - 100px);
	margin-top: calc(20% - 75px);
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}
