body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px 0px;
    overflow: hidden;
    padding: 0px 0px;
    width: 100vw;
}

/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited{
    text-decoration: none;
}

/* visited link */
a:visited .nav-dom{
    color: #0091EA;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}

a .nav-dom{
    color: blue;
}

blockquote{
    background-color: #E5E5E5;
    padding: 1vh 1vw 1vh 1vw;
}

h1{
    color: #0091EA;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    padding: 0;
    width: 70vw;
}

td{
  padding: 1vh 1vw 1vh 1vw;
}

th{
    background-color: #0091EA;
    color: white;
}

table, td{
    border: 1px solid #E0EEEE;
}

table, p, li{
  max-width: 67vw;
}

.bottom-container{
  background-color: #0091EA;
  height: 55vh;
  text-align: center;
  width: 100vw;
}

.clear-default-style{
    margin: 0px 0px;
    padding: 0px 0px;
}

.common{
    display: inline;
    float: left;
    height: 100vh;
}

.contact-info{
    color: white;
}

.edit-later{
    color: red;
}

.emphasis{
    color: #0091EA;
    font-weight: bold;
}

.link-button:hover{
    box-shadow: 5px 5px 3px #555555;
}

.link-box-top{
    margin-top: 7vh;
}

.link-box-bottom{
    margin-top: 4vh;
}

.link-box{
    float: left;
    margin-left: 8vw;
    padding-top: 1vh;
    position: relative;
    width: 15vw;
}

.link-button{
  background-color: white;
  color: #0091EA;
  font-size: 3vh;
  height: 3vw;
  padding: 1vh 1vh;
  width: 100%;
}

.link-descriptions{
  color: white;
  float: center;
  height: 12vw;
  margin-top: 2vh;
  position: relative;
  width: 20vw;
}

.nav{
    overflow: auto;
    width: 25vw;
}

.nav-dom{
    color: #0091EA;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 1vw 1vw .25vw 1vw;
}

.nav-sub{
    color: black;
    font-size: 2vh;
    padding: 0px 2vw 0px 1vw;
}

.make-block-item{
    display: block;
}

.page{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    width: 60vw;
}

.content-holder{
  height: 100vh;
  overflow: auto;
  width: calc(70vw + 26px);
}

.page-holder{
    height: 100vh;
    background-color: white;
    overflow: hidden;
    width: 70vw;
}

.page-holder-changes{
    margin-left: 15vw;
}

.test{
    border: 1px solid black;
}

.title{
    color: #0091EA;
    opacity: .85;
}

.top-container{
  height: 45vh;
  position: relative;
  text-align: center;
  width: 100vw;
}

.top-title{
    font-size: 7vh;
}
