body{
    /*font-family: 'Roboto', sans-serif;*/
    height: 100vh;
    margin: 0px 0px;
    overflow: hidden;
    padding: 0px 0px;
    width: 100vw;
}

/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited{
    text-decoration: none;
}

/* visited link */
a:visited .nav-dom{
    color: #0091EA;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}

a .nav-dom{
    color: blue;
}

blockquote{
    background-color: #E5E5E5;
    padding: 1vh 1vw 1vh 1vw;
}

footer{
    background-color: #F8F9FA;
    bottom: 100vh;
    display: block;
    position: absolute;
    width: 100vw;
}

header{
    display: block;
    position: sticky;
    top: 0vh;
    width: 100vw;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    padding: 0;
    width: 70vw;
}
