body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px 0px;
    overflow: hidden;
    padding: 0px 0px;
    width: 100vw;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: #212121;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: #212121;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: black;
    opacity: 60%;
}

/* selected link */
a:active {
    text-decoration: none;
    color: black;
    opacity: 60%;
}

h3{
    color: #212121;
}

.clear-default-style{
    margin: 0px 0px;
    padding: 0px 0px;
}

.common{
    display: inline;
    float: left;
    height: 100vh;
}

.nav{
    background-color: #FAFAFA;
    overflow: auto;
    width: 25vw;
}

.nav-dom{
    font-weight: bold;
    padding: 0px 1vw;
}

.nav-sub{
    padding: 0px 0px 2vw 1vw;
}

.make-block-item{
    display: block;
}

.page{
    padding-left: 1vw;
    width: 100%;
}

.page-holder{
    background-color: white;
    overflow: auto;
    width: 74vw;
}

.title{
    opacity: 60%;
}
