body{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100vh;
}
.common{
    display: inline;
    float: left;
    height: 100vh;
    margin: 0px;
}
.nav{
    background-color: #FAFAFA;
    width: 25vw;
}

.page{
    width: 100%;
}

.page-holder{
    background-color: white;
    width: 75vw;
}
