body{
    height: 100vh;
    width: 100vh;
}

.clear{
    margin: 0px 0px;
    padding: 0px 0px;
}

.common{
    display: block;
    float: left;
    height: 100vh;
}
.nav{
    background-color: #FAFAFA;
    width: 25vw;
}

.page{
    width: 100%;
}

.page-holder{
    background-color: white;
    overflow: hidden;
    width: 74vw;
}
