body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px 0px;
    overflow: hidden;
    padding: 0px 0px;
    width: 100vw;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: white;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: white;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: #E6E7E8;
    opacity: 85%;
}

/* selected link */
a:active {
    text-decoration: none;
    color: white;
    opacity: 60%;
}

h1, h2, h3{
    color: #00858E;
}

.clear-default-style{
    margin: 0px 0px;
    padding: 0px 0px;
}

.common{
    display: inline;
    float: left;
    height: 100vh;
}

.edit-later{
    color: red;
}

.nav{
    background-color: #00858E;
    overflow: auto;
    width: 25vw;
}

.nav-dom{
    font-size: 2.5vh;
    font-weight: bold;
    padding: 0px 1vw;
}

.nav-sub{
    font-size: 2vh;
    padding: 0px 0px 2vw 1vw;
}

.make-block-item{
    display: block;
}

.page{
    padding-left: 1vw;
    width: 100%;
}

.page-holder{
    background-color: white;
    overflow: auto;
    width: 74vw;
}

.title{
    opacity: 60%;
}
