.dark-sections{
    background-color: #007bff;
    color: white;
    padding-top: 5vh;
}

.grey-sections{
    background-color: #e9ecef;
}

.heading-dark{
    background-color: #007bff;
    color: white;
    font-size: 3vh;
    padding-left: 2vw;
}
