.dark-sections{
    background-color: #007bff;
    color: white;
    padding-top: 5vh;
}

.teal-sections{
    background-color: #20c997;
    color: white;
    padding-top: 5vh;
}

.salmon-sections{
    background-color: #ffa07a;
    color: white;
    padding-top: 5vh;
}

.grey-sections{
    background-color: #e9ecef;
}

.heading-dark{
    background-color: #007bff;
    color: white;
    font-size: 3vh;
    padding-left: 2vw;
}

.heading-salmon{
    background-color: #ffa07a;
    color: white;
    font-size: 3vh;
    padding-left: 2vw;
}

.to-scrollspy{
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

.equipment-section-header{
    opacity: .85;
}

.pxi-yes{
    background-color: #20c997;
    color: white;
}
