body{
    height: 100vh;
    margin: 0px 0px;
    overflow: hidden;
    padding: 0px 0px;
    width: 100vw;
}

/* unvisited link */
a:link {
    color: #212121;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #212121;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #343434;
    text-decoration: none;
}

h3{
    color: #212121;
}

.clear-default-style{
    margin: 0px 0px;
    padding: 0px 0px;
}

.common{
    display: inline;
    float: left;
    height: 100vh;
}
.nav{
    background-color: #FAFAFA;
    width: 25vw;
}

.nav-header-section{
    padding-left: 1vw;
}

.nav-link-section{
    overflow: auto;
    padding-left: 1vw;
}

.nav-sub{
    padding-left: 1vw;
}

.make-block-item{
    display: block;
}

.page{
    width: 100%;
}

.page-holder{
    background-color: white;
    overflow: auto;
    width: 74vw;
}
