body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px 0px;
    overflow: hidden;
    padding: 0px 0px;
    width: 100vw;
}

/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited{
    text-decoration: none;
}

/* visited link */
a:visited .nav-dom{
    color: #0091EA;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}

a .nav-dom{
    color: blue;
}

h1{
    color: #0091EA;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    padding: 0;
    width: 70vw;
}

table, th{
    border: 1px solid #0091EA;
    padding: .1vh .1vw .1vw .1vw;
}

th{
    background-color: #0091EA;
    color: white;
}

.clear-default-style{
    margin: 0px 0px;
    padding: 0px 0px;
}

.common{
    display: inline;
    float: left;
    height: 100vh;
}

.edit-later{
    color: red;
}

.emphasis{
    color: #0091EA;
    font-weight: bold;
}

.nav{
    overflow: auto;
    width: 25vw;
}

.nav-dom{
    color: #0091EA;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 1vw 1vw .25vw 1vw;
}

.nav-sub{
    color: black;
    font-size: 2vh;
    padding: 0px 2vw 0px 1vw;
}

.make-block-item{
    display: block;
}

.page{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    width: 100%;
}

.page-holder{
    background-color: white;
    overflow: auto;
    width: 74vw;
    z-index: -1;
}

.title{
    opacity: 60%;
}

.top-title{
    font-size: 10vh;
}
