body{
    height: 100vh;
    margin: 0px 0px;
    overflow: hidden;
    padding: 0px 0px;
    width: 100vw;
}

.clear-default-style{
    margin: 0px 0px;
    padding: 0px 0px;
}

.common{
    display: inline;
    float: left;
    height: 100vh;
}
.nav{
    background-color: #FAFAFA;
    overflow: auto;
    width: 25vw;
}

.nav-sub{
    padding-left: 1vw;
}

.make-block-item{
    display: block;
}

.page{
    width: 100%;
}

.page-holder{
    background-color: white;
    overflow: auto;
    width: 74vw;
}
