body{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100vh;
}
.common{
    display: inline;
    float: left;
    height: 100vh;
    margin: 0px;
}
.nav{
    background-color: #FAFAFA;
    border: 1px black;
    width: 25vw;
}

.page{
    background-color: white;
    border: 1px red;
    width: 7vw;
}
