.background-blue{
    background-color: #0091EA;
}

.background-white{
    background-color: white;
}

.bottom-sections{
    float: left;
    width: 50vw;
}

.bottom-section-height{
    height: calc(55vh / 2);
    padding: 4vh 10vw 2vh 10vw;
}

.left-header-text{
    float: left;
    font-size: 3vh;
    margin: 1vh 2vw 1vh;
}

.main-bottom-section{
    height: 55vh;
    margin: 0px 0px;
    padding: 0px 0px;
}

.main-middle-section {
  height: 40vh;
  text-align: center;
}

.main-section{
    margin: 0px 0px;
    width: 100vw;
}

.main-top-section{
    height: 5vh;
}

.middle-section-button{
    width: 100vw;
}

.middle-section-text{
    color: white;
    font-size: 3vh;
    text-align: center;
    padding: 3vh 3vw;
    width: 100vw;
}

.stylize-text{
    color:  #0091EA;
}
