.inner-section{
    background-color: white;
    width: 50vw;
}

.inner-section-top{
    font-size: 4vh;
    margin-top: 20vh;
    opacity: 0.86;
    text-align: center;
}

.outer-section{
    background-color: #0091EA;
    width: 25vw;
}

.sections{
    float: left;
    height: 100vh;
    position: relative;
}
