.background-blue{
    background-color: #0091EA;
}

.background-white{
    background-color: white;
}

.main-bottom-section{
    height: 60vh;
}

.main-middle-section {
  height: 35vh;
}

.main-section{
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100vw;
}

.main-top-section{
    height: 5vh;
}
