.background-blue{
    background-color: #0091EA;
}

.background-white{
    background-color: white;
}

.bottom-sections{
    float: left;
    width: 50vw;
}

.bottom-section-height{
    height: 10;
    padding: 4vh 25vw 0vh;
}

.bottom-section-text{
    margin-top: 2vh;
}

.left-header-text{
    font-size: 3vh;
    margin: 1vh 2vw 1vh;
}

.main-bottom-section{
    height: 70vh;
    margin: 0px 0px;
    overflow: scroll;
    padding: 0px 0px;
}

.main-middle-section {
  height: 25vh;
  text-align: center;
}

.main-section{
    margin: 0px 0px;
    width: 100vw;
}

.main-top-section{
    height: 5vh;
    text-align: center;
}

.middle-section-button{
    width: 100vw;
}

.middle-section-text{
    color: white;
    font-size: 1.5vh;
    text-align: center;
    padding: 3vh 0vw 0vh;
    width: 60vw;
}

.stylize-text{
    color:  #0091EA;
}
