body{
  margin: 0px 0px;
  padding: 0px 0px;
}

.calendar{
    bottom: 30vh;
    height: 20vh;
    left: 30vw;
    top: 10vh;
    position: fixed;
    width: 20vw;
}

.time-select-disabled{
    background-color: #F7F8FB;
    color: #B3BDD9;
}

.time-select-table{
  bottom: 50vh;
  height: 40vh;
  left: 50vw;
  top: 10vh;
  position: fixed;
  width: 10vw;
}

td.time-select-td:hover{
    background-color: #7FCBC3;
    color: white;
}
