body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100vw;
}

table{
  border: 1px solid black;
  margin-left: 5vw;
}

h1{
  margin: 0px 0px;
}

th{
    background-color: #0091EA;
    color: white;
}

table, td{
    border: 1px solid #E0EEEE;
}

.center-table{
     margin: 0px auto;
}

.color-header{
    color: #0091EA;
}

.common{
  position: absolute;
}

.header{
  display: block;
  font-size: 3vh;
  height: 10vh;
  left: 0px;
  margin: 0px 24vw;
  padding: 2vh 0px;
  top: 0px;
  width: 50vw;
}

.reservation-link{
  float: left;
  margin-left: 15vw;
  top: 95vh;
}

.reserved{
  background-color: #1ccad8;
  color: white;
}

.sched-table{
  height: 35vh;
  vertical-align: middle;
  width: 75vw;
}

.table-sections{
    margin-top: 15vh;
    text-align: center;
}

.time{
  opacity: .6;
}
