.reserved-text {
    color: #007bff;
}

tr.time-item:hover {
    background-color: #ffa07a !important;
    color: white;
}

.chosen {
    background-color: #007bff !important;
    color: white;
}

.pending-text {
    color: #007bff;
}

.list-item-section {
    background-color: 	#F0FFFF;
}

.scheduleHeader {
    background-color: #20c997;
    color: white;
    font-size: 2vh;
}
