.reserved-text{
    color: #007bff;
}

.pending-text{
    color: #007bff;
}

.list-item-section{
    background-color: 	#F0FFFF;
}

.scheduleHeader{
    background-color: #20c997;
    color: white;
    font-size: 3vh;
}
