body{
  margin: 0px 0px;
  padding: 0px 0px;
}

.column{
  float: left;
  height: 85vh;
  top: 15vh;
  width: 50vw;
}

.common{
  position: absolute;
}

.header{
  display: block;
  font-size: 10vh;
  height: 15vh;
  left: 0px;
  margin: 0px 0px;
  padding: 0px 0px;
  top: 0px;
  width: 100vw;
}

.test{
    border: 1px solid black;
}
