body{
  margin: 0px 0px;
  padding: 0px 0px;
}

.column{
  height: 85vh;
  position: absolute;
  width: 50vw;
}

.header{
  font-size: 10vh;
  height: 15vh;
  width: 100vw;
}

.left-column{

}

.right-column{

}
.test{
    border: 1px solid black;
}
