body{
  text-align: center;
  margin: 0px 0px;
  padding: 0px 0px;
}

.column{
  float: left;
  height: 84vh;
  top: 15vh;
  width: 49.5vw;
}

.common{
  position: absolute;
}

.header{
  display: block;
  font-size: 7vh;
  height: 15vh;
  left: 0px;
  margin: 0px 0px;
  padding: 0px 0px;
  top: 0px;
  width: 100vw;
}

.left-column{
  left: 0px;
}

.right-column{
  left: 49.5vw;
}

.sched-table{
  vertical-align: middle;
  height: 35vh;
  width: 40vw;
}

.test{
    border: 1px solid black;
}
