body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0px 0px;
  padding: 0px 0px;
}

table{
  border: 1px solid black;
  margin-left: 5vw;
}

h1{
  margin: 0px 0px;
}

th{
    background-color: #0091EA;
    color: white;
}

table, td{
    border: 1px solid #E0EEEE;
}

.color-header{
    color: #0091EA;
}

.column{
  float: left;
  height: 80vh;
  top: 10vh;
  width: 49.5vw;
}

.common{
  position: absolute;
}

.header{
  display: block;
  font-size: 3vh;
  height: 10vh;
  left: 0px;
  margin: 0px 0px;
  padding: 2vh 0px;
  top: 0px;
  width: 100vw;
}

.left-column{
  left: 0px;
}
.reservation-link{
  float: left;
  margin-right: 5vw;
}

.reserved{
  background-color: #1ccad8;
  color: white;
}

.right-column{
  left: 49.5vw;
}

.sched-table{
  height: 35vh;
  vertical-align: middle;
  width: 40vw;
}

.time{
  opacity: .6;
}
