/*
  Retrieved: 08/17/2018
  Author: Christian Heilmann
  Source: https://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934
*/

h2.sticky-note-text,p.sticky-note-text{
  font-size:100%;
  font-weight:normal;
}

ul.sticky-note-ul,li.sticky-note-il{
  list-style:none;
}
ul.sticky-note-ul{
  overflow:hidden;
  padding:3em;
}
ul.sticky-note-ul li.sticky-note-il a.sticky-note-a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

ul.sticky-note-ul li.sticky-note-il{
  margin:1em;
  float:left;
}

ul.sticky-note-ul li.sticky-note-il h2.sticky-note-text{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul.sticky-note-ul li.sticky-note-il p.sticky-note-text{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
