td{
  border: 1px solid #0091EA;
  width: 5vw;
}

.input-box{
  background-color: white;
  border: 1px solid #0091EA;
  height: 80vh;
  left: 45vw;
  top: 3vw;
  position: absolute;
  width: 15vw;
}

.siding{
  border: none;
  text-align: right;
  padding-right: .5vw;
}

.schedule-box{
  background-color: white;
  border: 1px solid #0091EA;
  height: 80vh;
  position: absolute;
  left: 5vw;
  top: 3vw;
  width: 35vw;
}

.reserved{
  background-color: #0091EA;
}
