body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px 0px;
    overflow: hidden;
    padding: 0px 0px;
    width: 100vw;
}

.left-icon{
    background-color: white;
    border-radius: 100%;
    color: #0091EA;
    font-size: 2vh;
    height: 5vh;
    width: 5vh;
}

.tutorial-class-left{
    background-color: #0091EA;
    width: 25vw;
}

.tutorial-class-right{
    width: 75vw;
}

.tutorial-section{
    float: left;
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
}

.tutorial-right-header{

}
