
a{
    color: #0091EA;
}

.h4-test-plan{
    color: #0091EA;
}

.tutorial-class-left{
    background-color: #0091EA;
    color: white;
    padding: 20vh 7vw 0vh;
    width: 25vw;
}

.tutorial-class-right{
    width: 75vw;
}

.tutorial-section{
    float: left;
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
}

.tutorial-right-header{
    font-size: 4vh;
    margin-top: 20vh;
    opacity: 0.86;
}

.tutorial-right-margin-left{
    margin-left: 7vw;
}

.tutorial-right-ul{
    font-size: 3vh;
}
