body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px 0px;
    overflow: hidden;
    padding: 0px 0px;
    width: 100vw;
}

a{
    color: #0091EA;
}

/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited{
    text-decoration: none;
}

.left-icon{
    background-color: white;
    background-image: url("../docs/img/pspe-logo.png");
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 100%;
    height: 15vh;
    margin: 20vh calc(calc(25vw - 15vh)/2) 0px;
    text-align: center;
    width: 15vh;
}

.next-button{
    font-size: 4vh;
}

.next-button-container{
    margin-top: 3vh;
}

.tutorial-class-left{
    background-color: #0091EA;
    width: 25vw;
}

.tutorial-class-right{
    width: 75vw;
}

.tutorial-section{
    float: left;
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
}

.tutorial-right-header{
    font-size: 6vh;
    margin-top: 20vh;
}

.tutorial-right-margin-left{
    margin-left: 7vw;
}

.tutorial-right-ul{
    font-size: 3vh;
}
