
a{
    color: #0091EA;
}

.back-button{
    margin-right: 3vw;
}

.next-button-container{
    margin-top: 5vh;
}

.tutorial-class-left{
    background-color: #0091EA;
    width: 25vw;
}

.tutorial-class-right{
    width: 75vw;
}

.tutorial-section{
    float: left;
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
}

.tutorial-right-header{
    font-size: 4vh;
    margin-top: 20vh;
    opacity: 0.86;
}

.tutorial-right-margin-left{
    margin-left: 7vw;
}

.tutorial-right-ul{
    font-size: 3vh;
}
