body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px 0px;
    overflow: hidden;
    padding: 0px 0px;
    width: 100vw;
}

.left-icon{

    background-color: white;
    border-radius: 100%;
    color: #0091EA;
    font-size: 7vh;
    height: 10vh;
    margin: 20vh calc(calc(25vw - 10vh)/2) 0px;
    padding: 2.5vh 2vh 2.5vh;
    text-align: center;
    width: 10vh;
}

.tutorial-class-left{
    background-color: #0091EA;
    width: 25vw;
}

.tutorial-class-right{
    width: 75vw;
}

.tutorial-section{
    float: left;
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
    position: relative;
}

.tutorial-right-header{
    font-size: 7vh;
    margin-top: 20vh;
}

.tutorial-right-margin-left{
    margin-left: 7vw;
}

.tutorial-right-ul{
    font-size: 3vh;
}
